<div class="mt-8" data-bdtl="evaluation-root">
  <h3 class="text-2xl font-bold">Potenzial für mehr Gesundheit & Wachstum</h3>
  <h4 class="mb-8 text-2xl">(durch gute Leitung & Leiterentwicklung)</h4>
  <div class="flex">
    <div class="grow-0 max-w-[20%]">
      Leiterentwicklung geschieht vermutlich zu wenig
    </div>
    <div
      class="relative flex items-center h-4 mx-20 rounded-full grow bg-gradient-to-l from-green-600 via-yellow-400 to-red-400"
    >
      <evaluation-point :style="style" />
    </div>
    <div class="grow-0 max-w-[20%]">
      Leiterentwicklung vermutlich in vollem Gange
    </div>
  </div>
</div>
