<div data-bdtl="finish-root" class="finish-root max-w-[60%] mt-8 mx-auto">
  <div>
    Danke für deine ehrliche Einschätzung. Wenn du Teil der
    Gemeindeleitung/Pastor deiner Kirche bist und über dein Ergebnis mit dem K5
    Team sprechen willst, dann hinterlasse uns hier einfach deine E-Mail. Wir
    melden uns bei dir.
  </div>
  <div class="w-embed w-iframe w-script">
    <iframe
      data-bdtl="finish-root__file-iframe"
      :src="src"
      style="width: 100%; height: 100%; border: none; border-radius: 10px"
      id="inline-WuJPpANSZHLMwqY1p1gl"
      data-layout="{'id':'INLINE'}"
      data-trigger-type="alwaysShow"
      data-trigger-value=""
      data-activation-type="alwaysActivated"
      data-activation-value=""
      data-deactivation-type="neverDeactivate"
      data-deactivation-value=""
      data-form-name="Bedarfstool Formular"
      data-height="400"
      data-layout-iframe-id="inline-WuJPpANSZHLMwqY1p1gl"
      data-form-id="WuJPpANSZHLMwqY1p1gl"
      title="Bedarfstool Formular"
    >
    </iframe>
    <script src="https://link.msgsndr.com/js/form_embed.js"></script>
  </div>
</div>
