<div data-bdtl="question-root" class="flex items-center">
  <question-arrow
    direction="left"
    @click="onArrowLeft"
    :disabled="isFirstQuestion"
  />

  <div data-bdtl="question-container" class="flex-grow">
    <Transition
      mode="out-in"
      class="duration-300"
      enter-from-class="opacity-0"
      enter-to-class="opacity-100"
      leave-from-class="opacity-100"
      leave-to-class="opacity-0"
    >
      <question
        :question="currentQuestion"
        :key="currentQuestionKey"
        @update:answer="setCurrentQuestionAnswer($event.index, $event.value)"
      />
    </Transition>
  </div>

  <question-arrow
    direction="right"
    @click="onArrowRight"
    :disabled="isLastQuestion"
  />
</div>
